<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.elyeproj.featureone">

    <application>
        <activity android:name=".FeatureOneActivity"
                  android:label="FeatureOne Activity">
        </activity>
    </application>

</manifest>